<h1>List of Customers</h1>

<p>List of the Customer in this course.</p>

<p *ngIf="!customers"><em>Loading...</em></p>

<table class='table' *ngIf="customers">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Last Update</th>
            <th>Address</th>
            <th>Address 2</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{ customer.customer_id}}</td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.last_update }}</td>
            <td>{{ customer.address.address }}</td>
            <td>{{ customer.address.address2 }}</td>
            <td>{{ customer.address.phone }}</td>
        </tr>
    </tbody>
</table>